// Base Skin
$base-skin: (
    theme-color-1       : #eba63f,
    theme-color-2       : #16787e,
    gray-brightest      : #f5f5f5,
    gray-dark           : #393939,
    gray-darkest        : #272727,
    page-background     : #f5f5f5,
    border-color        : #e1e1e1,
);
